#login-container {
<<<<<<< HEAD
    margin-top: 10%;
}

#login-container h2,
#login-container button,
#login-container form{
    width: 100%;
}

#login-container button{
    margin-top: 15px;
}

#login-container .Form.Label{
    float: left;
}
=======
    margin-top: 20%;
}


#login-container .form{
    width: 100%;
}
#login-container .button{
    margin-top: 15px;

}
#login-container .Form-Label{
float: left;
}

>>>>>>> 8229ae6241da991848afe1381969a4bfa306c0be
